.container {
  display: flex;
}

.terminology {
  margin-top: 130px;
  color: #d0d6f9;
  font-family: Barlow Condensed;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.7px;
}

.title {
  margin: top 10px;
  color: #fff;
  font-family: Bellefair;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.image {
  position: absolute;
  right: 0;
}

.dotsContainer {
  margin-top: 130px;
  margin-right: 80px;
}

.dot {
  font-family: Bellefair;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 80px;
  height: 80px;
  border-radius: 80px;
  border: solid 1px rgb(255, 255, 255, 0.25);
}

.active {
  color: #0b0d17;
  background-color: #fff;
}

:hover .dot {
  cursor: pointer;
}

/* -------------------mobile------------------- */

@media (max-width: 1100px) {
  .image {
    object-fit: cover;
    object-position: 0 -110px;
    width: 100%;
    height: 220px;
  }

  .container {
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .dotsContainer {
    display: flex;
    justify-content: space-between;
    width: 152px;
    margin-top: 240px;
    margin-right: 0;
  }

  .dot {
    font-family: Bellefair;
    font-size: 16px;
    width: 40px;
    height: 40px;
    margin-bottom: 25px;
  }

  .terminology {
    margin-top: 0;
    font-size: 14px;
    letter-spacing: 2.362px;
  }

  .title {
    margin-top: 9px;
    font-size: 24px;
  }
}
