* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

.link {
  text-decoration: none;
  font-size: 16px;
  position: sticky;
  color: #fff;
  padding-top: 36px;
  padding-bottom: 36px;
  border-top: solid 3px rgba(255, 255, 255, 0);
  border-bottom: solid 3px rgba(255, 255, 255, 0);
}

.linkNumber {
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.7px;
  margin-right: 11px;
}

.containerNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-left: 55px;
}

.container {
  display: flex;
  width: 950px;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(40.774227142333984px);
}

.conrainerLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 542px;
  height: 96px;
  margin-left: 123px;
  margin-right: 165px;
}

.line {
  width: 37%;
  height: 1px;
  border-bottom: solid 1px #fff;
  opacity: 0.2515;
  position: sticky;
  left: 240px;
  z-index: 10;
}

@media (min-width: 1101px) {
  .link:hover {
    border-bottom: solid 3px rgba(255, 255, 255, 0.5021);
  }
}

/* ----------------------------mobile------------------- */

@media (max-width: 1100px) {
  .logo {
    scale: 0.8334;
  }

  .containerNav {
    margin-left: 24px;
    margin-top: 24px;
  }

  .conrainerLinks {
    position: relative;
    align-items: flex-start;
    margin: 0;
    margin-top: 118px;
    margin-left: 32px;
    flex-direction: column;
  }

  .container {
    position: absolute;
    width: 254px;
    height: 100%;
    top: -100%;
    right: 0;
  }

  .link {
    display: block;
    height: 31px;
    width: 100%;
    margin-bottom: 32px;
    border-top: none;
    border-bottom: none;
    padding: 0;
  }

  .burger {
    position: relative;
    z-index: 100;
    width: 24px;
    height: 24px;
    margin-right: 20px;
    border-top: solid 2px #d0d6f9;
    border-bottom: solid 2px #d0d6f9;
  }

  .burger div {
    position: relative;
    z-index: 100;
    width: 25px;
    height: 25px;
    margin-right: 20px;
    border-top: solid 2px #d0d6f9;
    top: 10px;
  }

  .cross {
    position: relative;
    z-index: 100;
    width: 24px;
    height: 24px;
    margin-right: 20px;
    border-top: solid 2px #d0d6f9;
    transform: rotate(45deg);
    top: 9px;
    left: -9px;
  }

  .cross div {
    position: relative;
    z-index: 100;
    width: 24px;
    height: 24px;
    margin-right: 20px;
    border-top: solid 2px #d0d6f9;
    top: -12px;
    left: -12px;
    transform: rotate(90deg);
  }

  .navActive {
    top: 0;
  }

  .line {
    display: none;
  }
}
