* {
  margin: 0;
  padding: 0;
  font-family: "Barlow Condensed", sans-serif;
}

ul {
  list-style-type: none;
}

.link {
  text-decoration: none;
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;

  border-top: solid 3px rgba(255, 255, 255, 0);
  border-bottom: solid 3px rgba(255, 255, 255, 0);
}

.link:hover {
  border-bottom: solid 3px rgba(255, 255, 255, 0.5021);
}

.active {
  border-bottom: solid 3px rgba(255, 255, 255);
}

.background {
  background-size: cover;
  position: absolute;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -10;
}

.mainSection {
  justify-content: space-between;
  margin-top: 135px;
  margin-left: 300px;
}

.heading {
  width: 385px;
  color: #fff;
  font-family: Barlow Condensed;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 4.725px;
}

.headingNumber {
  color: #fff;
  font-weight: 700;
  opacity: 0.25;
  margin-right: 28px;
}

.text {
  margin-top: 27px;
  width: 444px;
  height: 182px;
  color: #d0d6f9;
  font-family: Barlow;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

@media (max-width: 1100px) {
  .link:hover {
    border-bottom: solid 3px rgba(255, 255, 255);
  }

  .link {
    padding-bottom: 5px;
  }

  .heading {
    margin-top: 89px;

    width: auto;
    font-size: 16px;
    letter-spacing: 2.7px;
  }

  .headingNumber {
    margin-right: 18px;
  }

  .mainSection {
    display: flex;
    flex-direction: column;

    align-items: center;
    margin: 0;
  }

  .text {
    margin-top: 16px;
    width: 327px;
    height: auto;
    font-size: 15px;
    line-height: 25px;
  }
}
